<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Vi-Char — Coming Soon!</title>
	
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type='text/javascript' src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script>
		$(document).ready(function() {
			$('#Leaderboard').dataTable({
				"aaSorting" : [[2, "desc"]]
			});
		});
	</script>
</head>

<body>

<nav>
	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="current.html">Current Game</a></li>
		<li><a href="leaderboard.html">Leaderboard</a></li>
		<li><a href="#">About</a></li>
	</ul>
</nav>

<section id="page">
	<h1>Leaderboard:</h1>
	{{{leaderboard}}}
</section>

<footer>
	<p>&copy; Vi-Char 2012</p>
</footer>

</body>

</html>
