<table id="Leaderboard">
	<thead>
		<td>Type</td>
		<td>Name</td>
		<td>Score</td>
	</thead>
	{{#leaders}}
		<tr class="{{type}}">
			<td class="{{type}}">{{type}}</td>
			<td>{{name}}</td>
			<td>{{score}}</td>
		</tr>
	{{/leaders}}
</table>