/*
	Example CSS
	by Scott Dunham
	http://dnhmsctt.com
*/

*				{ margin:0; padding:0; }
body			{ font:14px Georgia, serif; }

header,
section,
footer			{ margin:15px auto; width:960px; }
.robo-logo		{ max-width:300px; margin-left:25px; }
h1, h2, h3, h4	{ text-align:center; font-family: 'Wire One', sans-serif; }
h1				{ font-size:45px; margin:15px 0; }
h2				{ font-size:35px; }
h3				{ font-size:25px; }
ul li				{ margin-left:10px; }
.about-sec		{ display:inline-block; margin:5px 8px; padding:15px; width:270px; background:#ccc; border-radius:50px 0; box-shadow: 0 0 15px black; min-height:160px; vertical-align:top; }
footer			{ text-align:center; font-style:italic; }

.tweets			{ display:inline-block; background:#ccc; position:absolute; top:35px; width:435px; padding:15px; border-radius:25px; margin-left:50px; box-shadow: 0 8px 6px -3px #666; }
.tweets:after 	{ content:""; position:absolute; border-width:20px 0px 0px 57px; border-style:solid; border-color:#CCC transparent; display:block; width:0; top:165px; left:-50px; }
.tweet-attr		{ text-align:right; font-style:italic; margin-bottom:8px; }